<div class="d-flex justify-center pb-8 pt-2">
    <img src="/imgs/RDS-01.jpg" alt="RDS - Soluções em software" width="200"/>
</div>

<AuthorizeView>
    <Authorized>
        <MudNavMenu Margin="Margin.None" Color="Color.Success" Rounded="true" Dense="true" Class="responsive-text drawer-title">
            <HomeLink/>
            <UserGroup ExpandedGroup="_expandedGroup" ExpandedChanged="ToggleGroup"/>
            <ManagementGroup ExpandedGroup="_expandedGroup" ExpandedChanged="ToggleGroup"/>
            <ConfigurationGroup ExpandedGroup="_expandedGroup" ExpandedChanged="ToggleGroup"/>
            <MudNavLink OnClick="@(() => NavigationService.NavigateTo("/sair"))" Icon="@Icons.Material.Filled.Logout" IconColor="Color.Error">Sair</MudNavLink>
        </MudNavMenu>
    </Authorized>
    <NotAuthorized>
        <MudNavLink OnClick="@(() => NavigationService.NavigateTo("/login"))" Icon="@Icons.Material.Filled.Login" IconColor="Color.Success">Login</MudNavLink>
        <MudNavLink OnClick="@(() => NavigationService.NavigateTo("/registrar"))" Icon="@Icons.Material.Filled.Add" IconColor="Color.Success">Registrar</MudNavLink>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? _expandedGroup = null;

    private void ToggleGroup(string groupName)
    {
        if (_expandedGroup == groupName)
        {
            _expandedGroup = null;
        }
        else
        {
            _expandedGroup = groupName;
        }
    }

}