@page "/usuariosconfiguracao/lista-roles-do-usuario"
@inherits ListUserRolesPage

<AuthorizeView Roles="Admin, Owner">
    <Authorized>
        <div class="d-flex justify-end pt-2 pb-2 mt-2 mb-2">
            <MudButton
                Class="pt-2 pb-2"
                Variant="Variant.Filled"
                Color="Color.Primary"
                StartIcon="@Icons.Material.TwoTone.Add"
                OnClick="@(() => StartService.LinkToUrlUserRole(UserId, UserName, AddUrl))">
                ADICIONAR
            </MudButton>
        </div>
        @if (IsBusy)
        {
            <MudPaper Class="mud-data-grid pa-8 mt-4">
                <MudSkeleton Height="55px"/>
                <MudSkeleton Height="110px"/>
                <MudSkeleton Height="55px"/>
                <MudSkeleton Height="55px"/>
            </MudPaper>
        }
        else
        {
            <MudDataGrid
                Class="mt-4"
                Items="@RolesFromUser"
                Filterable="false"
                Hideable="true">
                <ToolBarContent>
                    <MudSpacer/>
                    <MudText Class="responsive-text subtitle-screen" Align="Align.Center">
                        @UserName
                    </MudText>
                    <MudSpacer/>
                </ToolBarContent>
                <Columns>
                    <PropertyColumn Class="mud-data-grid"
                                    CellClass="mud-data-grid mud-data-grid-cell"
                                    Property="x => x!.RoleId" Title="#"/>
                    <PropertyColumn Class="mud-data-grid"
                                    CellClass="mud-data-grid mud-data-grid-cell"
                                    Property="x => x!.RoleName" Title="Role"/>
                    <TemplateColumn Class="d-flex justify-end" Title="&nbsp;">
                        <CellTemplate Context="cellContext">
                            <MudStack Row>
                                <MudIconButton
                                    Disabled="@(cellContext.Item!.RoleName == "Admin" || cellContext.Item!.RoleName == "Owner" || cellContext.Item!.RoleName == "User")"
                                    Icon="@Icons.Material.Filled.Delete"
                                    Color="Color.Error"
                                    aria-label="Excluir"
                                    OnClick="() => OnDeleteButtonClickedAsync(UserId, cellContext.Item.RoleName)">
                                </MudIconButton>
                            </MudStack>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="ApplicationUserRole"
                                      Class="custom-pager mud-typography"
                                      RowsPerPageString="Registros por página"
                                      InfoFormat="{first_item} - {last_item} de {all_items}"
                                      PageSizeOptions="new[] { 5, 10, 25, 50, 100 }"/>
                </PagerContent>
            </MudDataGrid>
        }
    </Authorized>
    <NotAuthorized>
        @(async () => await NavigationService.NavigateToAccessNotAllowedAsync())
    </NotAuthorized>
</AuthorizeView>