@page "/usuariosconfiguracao/lista-roles-do-susuario"
@inherits ListUserRolesPage

<TitleBar Title="Roles"/>
<div class="d-flex justify-end pt-2 pb-2 mt-2 mb-2">
    <MudButton
        Class="pt-2 pb-2"
        Variant="Variant.Filled"
        Color="Color.Primary"
        StartIcon="@Icons.Material.TwoTone.Add"
        OnClick="@(() => NavigationService.NavigateTo("/usuariosconfiguracao/roles-do-susuario/adicionar-role"))">
        ADICIONAR
    </MudButton>
</div>

<MudDataGrid
    Class="mt-4"
    Items="@RolesFromUser"
    Filterable="false" 
    Hideable="true">
    <ToolBarContent>
        <MudSpacer/>
        <MudText Class="responsive-text subtitle-screen" Align="Align.Center">
            @StartService.GetSelectedUserName()
        </MudText>
        <MudSpacer/>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x!.RoleId" Title="#"/>
        <PropertyColumn Property="x => x!.RoleName" Title="Role"/>
        <TemplateColumn Class="d-flex justify-end" Title="&nbsp;">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton
                        Disabled="@(context.Item!.RoleName == "Admin" || context.Item!.RoleName == "User")"
                        Icon="@Icons.Material.Filled.Delete"
                        Color="Color.Error"
                        aria-label="Excluir"
                        OnClick="() => OnDeleteButtonClickedAsync(UserId, context.Item.RoleName)">
                    </MudIconButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>