@page "/usuarios"
@inherits ListApplicationUsersPage

<!--<UserState/>-->
<TitleBar Title="Usuários"/>
<MudPaper Class="pa-2 mb-4 mt-4">
    <div class="d-flex">
        <MudTextField @bind-Value="SearchFilter" Placeholder="Buscar no banco de dados" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Immediate="true"/>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OnSearch">
            Buscar
        </MudButton>
        <MudSpacer />
        <MudButton
            Variant="Variant.Filled"
            Color="Color.Primary"
            StartIcon="@Icons.Material.TwoTone.Add"
            OnClick="OnNewUserButton">
            NOVO USUÁRIO
        </MudButton>
    </div>
</MudPaper>
@if (IsBusy)
{
    <MudPaper Class="pa-8 mt-4">
        <MudSkeleton Height="55px"/>
        <MudSkeleton Height="110px"/>
        <MudSkeleton Height="55px"/>
        <MudSkeleton Height="55px"/>
        <MudSkeleton Height="55px"/>
    </MudPaper>
}
else
{
    <MudDataGrid T="ApplicationUser" Items="@PagedApplicationUsers" Filterable="true" QuickFilter="Filter" Hideable="true">
        <ToolBarContent>
            <MudSpacer/>
            <MudTextField
                @bind-Value="SearchTerm"
                Placeholder="Filtrar..."
                Adornment="Adornment.Start"
                AdornmentIcon="@Icons.Material.Filled.Search"
                Immediate="true"
                IconSize="Size.Medium"
                Class="mt-0">
            </MudTextField>
        </ToolBarContent>

        <Columns>
            <PropertyColumn Property="x => x.Id" Title="#"/>
            <PropertyColumn Property="x => x.Name" Title="Nome"/>
            <PropertyColumn Property="x => x.Email" Title="Email"/>
            <TemplateColumn Class="d-flex justify-end" Title="&nbsp;">
                <CellTemplate Context="context">
                    <MudStack Row>
                        <MudIconButton
                            Icon="@Icons.Material.Filled.Edit"
                            Color="Color.Primary"
                            OnClick="@(() => Link.LinkToUrlUser(Url, context.Item.Id))">
                        </MudIconButton>
                        <MudIconButton
                            Icon="@Icons.Material.Filled.Delete"
                            Color="Color.Error"
                            aria-label="Excluir"
                            OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Name ?? string.Empty)">
                        </MudIconButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="ApplicationUser" RowsPerPageString="Registros por página" InfoFormat="{first_item} - {last_item} de {all_items}" PageSizeOptions="new int[] { 5, 10, 25, 50, 100 }"/>
        </PagerContent>
    </MudDataGrid>
}